<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HanYuYi.dao.BlogMapper">

    <!--动态sql一共四种大类：
        if
        choose：跟switch一样
        trim
        forEach

        其他属于智能辅助：
        trim
        where
        set
        script：直接使用
        bind
    -->

    <!--添加数据-->
    <insert id="insertBlog" parameterType="blog">
        INSERT INTO blog (id, title, author, create_time, views)
        VALUES (#{id}, #{title}, #{author}, #{createTime}, #{views})
    </insert>

    <!--if 查询数据-->
    <select id="getBlogListByIf" parameterType="map" resultType="blog">
        SELECT * FROM blog
        <where>
            <!--<if test="author != null">
                AND author = #{author}
            </if>
            <if test="views != null">
                AND views >= #{views}
            </if>-->
            <include refid="columnIf"/>
        </where>
    </select>

    <!--choose 查询数据-->
    <select id="getBlogListByChoose" parameterType="map" resultType="blog">
        SELECT * FROM blog
        <where>
            <choose>
                <when test="author != null">
                    title = #{title}
                </when>
                <when test="views != null">
                    AND views = #{views}
                </when>
                <otherwise>
                    AND author = #{author}
                </otherwise>
            </choose>
        </where>
    </select>

    <!--set 更新数据-->
    <update id="updateBySet" parameterType="map">
        UPDATE blog
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="views != null">
                views = #{views}
            </if>
        </set>
        WHERE id = #{id}
    </update>
    
    <!--sql片段：定一段sql，被其他地方引用-->
    <sql id="columnIf">
        <if test="author != null">
            AND author = #{author}
        </if>
        <if test="views != null">
            AND views >= #{views}
        </if>
    </sql>
    
    <!--foreach-->
    <select id="queryByEach" parameterType="map" resultType="blog">
        SELECT * FROM blog
        <where>
            <foreach collection="views" item="view" open="views IN (" separator="," close=")">
                #{view}
            </foreach>
        </where>
    </select>

    <!--缓存
    设置缓存参数
    mybatis默认是一级缓存（只在一个sqlSession有效），这里配置后开启二级缓存（在一个namespace有效）
    缓存只在读的时候有效，在写的时候会刷新缓存
    -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

</mapper>