<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>文件上传</title>
    <div th:replace="common/index :: staticResources"></div>
    <style>

    </style>
</head>
<body>
<div th:replace="~{common/index :: #header}"></div>
<main>
    <div th:replace="common/index :: left_menu"></div>

    <aside>
      <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="text" name="username"><br>
        <input type="file" name="avatar" multiple><br>
        <input type="submit" value="提交">
      </form>
    </aside>
</main>
<div th:replace="common/index :: staticResourcesCommon"></div>

</body>
</html>